* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.background {
	height: 100vh;
	width: 100vw;
	background: url('images/fondo.jpeg') no-repeat center center fixed;
	background-size: cover;
}

.bird {
	height: 8vh;
	width: 10vw;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}

.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 2.5vw;
	background: radial-gradient(lightgreen 50%, green);
	border: 5px solid black;
}

.message {
	position: absolute;
	z-index: 10;
	color: black;
	top: 30%;
	left: 50%;
	font-size: 4vw;
	transform: translate(-50%, -50%);
	text-align: center;
}

.messageStyle{
	background: white;
	padding: 2vw;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
}

.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 3vw;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 0.2vw;
	-webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 1vw;
	font-family: Arial, Helvetica, sans-serif;
}

.score_val {
	color: gold;
	font-weight: bold;
}

@media only screen and (max-width: 1080px) {
	.bird{
		width: 9vw;
		height: 6.75vh;
	}
	.pipe_sprite{
		width: 10vw;
	}
}

@media only screen and (max-width: 768px) {
	.message{
		font-size: 3.5vw;
		top: 50%;
		white-space: nowrap;
	}
	.score{
		font-size: 4vw;
	}
	.bird{
		width: 7vw;
		height: 5.25vh;
	}
	.pipe_sprite{
		width: 14vw;
	}
}

@media only screen and (max-width: 480px) {
	.message{
		font-size: 2.5vw;
	}
	.score{
		font-size: 3vw;
	}
	.bird{
		width: 6vw;
		height: 4.5vh;
	}
	.pipe_sprite{
		width: 16vw;
	}
}
